[submodule "MessengerSdk"]
  path = Modules/MessengerSdk
  url = git@github.com:socialify-io/messenger-sdk.git

[submodule "FacebookSdk"]
  path = Modules/FacebookSdk
  url = git@github.com:socialify-io/facebook-sdk.git

[submodule "TwitterSdk"]
  path = Modules/TwitterSdk
  url = git@github.com:socialify-io/twitter-sdk.git
  
[submodule "Moscapsule"]
  path = Modules/Moscapsule
  url = git@github.com:flightonary/Moscapsule.git
