[submodule "messenger-sdk"]
  path = project
  url = https://github.com/socialify-io/messenger-sdk

[submodule "facebook-sdk"]
  path = project
  url = https://github.com/socialify-io/facebook-sdk

[submodule "twitter-sdk"]
  path = project
  url = https://github.com/socialify-io/twitter-sdk
